* {
    /* everything */
    outline: none;
    font-family: "JetBrainsMonoNL Nerd Font";
    font-size: 18px;
    font-weight: 500;
    text-shadow: none;
    color: #%foreground%;
    background-color: transparent;
    background: transparent;
}

/* control center */
.control-center {
    border: none;
    background-color: alpha(#%background%, %opacity%);
    outline: 1px solid #%main%;
    box-shadow: 0 0 10px rgba(0,0,0,%opacity%);
}

.control-center * {
    /* top  right  bottom  left */
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
}


.widget-title {
    background-color: alpha(#%background%, 0);
    
}

/* notification inside and popup*/
.summary { font-size: 1.2rem; }
.time { font-size: 0.8rem; }
.body { font-size: 1rem; }

/* notification popup */
.notification {
    background-color: alpha(#%background%, %opacity%);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid #%main%;
    /* top  right  bottom  left */
    padding: 1rem;
}

/* notification inside swaync */
.control-center .notification  {
    background-color: alpha(#%background%, %opacity%);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid alpha(#%main%, %opacity%);
    /* top  right  bottom  left */
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 1rem 0rem 1rem;
}

.control-center .notification-group-close-all-button,
.control-center .notification-group-close-all-button:hover,
.control-center .notification-group-collapse-button,
.control-center .notification-group-collapse-button:hover {
    background-color: alpha(#%green%, %opacity%);
    
}

.widget-buttons-grid {
    /* top  right  bottom  left */
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 20px;

}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background: alpha(#%background%, %opacity%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    min-width: 100px;
    min-height: 40px;
    transition: all .5s ease;
    /* top  right  bottom  left */
    margin: 2px 2px 2px 2px;
    padding: 5px 0px 5px 0px;
}

/* buttons checked */
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    background: alpha(#%main%, %opacity%);
}

/* buttons hover */
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: alpha(#%highlight%, %opacity%);
}

/* buttons checked and hover */
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
    background: alpha(#%highlight%, %opacity%);
}

/* notification pop up close button */
.close-button {
    background-color: alpha(#%background%, %opacity%);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.close-button:hover {
    background-color: alpha(#%red%, %opacity%);
}

/* Close button */
.widget-title {
    font-size: 1.25rem;
    font-weight: 500;
}

/* close button inside swaync */
.widget-title > button {
    background: alpha(#%background%, %opacity%);
    border: none;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    transition: all .5s ease;
}
.widget-title > button:hover {
    background: alpha(#%red%, %opacity%);
}


/* volume */
.widget-volume {
    background: transparent;
    pointer-events: none;
    pointer-events: none;
}

/* Slider trough (the bar) */
.widget-volume scale trough {
    background-color: alpha(#%background%, %opacity%);
    min-height: 4px;
    border-radius: 2px;
}

/* Filled part */
.widget-volume scale trough highlight {
    background-color: alpha(#%main%, %opacity%);
    border-radius: 2px;
}

/* Slider handle */
.widget-volume scale slider {
    background-color: #%foreground%;
    min-width: 5px;
    min-height: 5px;
    border-radius: 999px;
}


/* Mpris widget */
.widget-mpris * {
    /* top  right  bottom  left */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.widget-mpris-player {
  padding: 10px 10px 10px 10px;
  border: 1px solid alpha(#%main%, %opacity%);
  background-color: alpha(#%background%, %opacity%);
}

.widget-mpris image {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

picture.mpris-background {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    opacity: 0;
}


/* expanded notication buttons (delete this) */
.notification-group-collapse-button,
.notification-group-close-all-button {
    background-color: alpha(#ff0048, 0.8);
}
/* expanded notication buttons (delete this) */
.notification-group-collapse-button:hover {
    background-color: alpha(#ff0048, 0.8);
}
/* expanded notication buttons (delete this) */
.notification-group-close-all-button:hover {
    background-color: alpha(#ff0048, 0.8);
}
