* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMonoNL Nerd Font";
  font-size: 14px;
  font-weight: 600;
}

/* -------------------- main -------------------- */

window#waybar {
    background: rgba(%background_rgb_str%,%opacity%);
    transition-property: background;
    transition-duration: .5s; 
    /*border-top: 1px solid #%main%;
    border-left: 1px solid #%main%;
    border-right: 1px solid #%main%;*/
    border-bottom: 1px solid #%main%;
    border-radius: 50px;
    color: #%foreground%;
}
/* -------------------- ***** -------------------- */

/* ----------------- workspaces ------------------ */
#workspaces button {
    /* top  right  bottom  left */
    padding: 0rem 0.1rem 0rem 0.1rem;
    margin: 0.6rem 0.2rem 0.6rem 0.2rem;
    border: none;
    border-radius: 0px;  
    background: none;
    box-shadow: none;
    color: #%main%; 
}

#workspaces button.empty {
    color: #%foreground%;
}

#workspaces button:hover {
    color: #%highlight%;
}

#workspaces button.active {   
    color: #%highlight%;
    box-shadow: inset 0 -3px 0 0px #%highlight%;
}

/* -------------------- ***** -------------------- */

/* ------------------- modules ------------------- */
#custom-logo {
  /* top  right  bottom  left */
  margin: 0.1rem 1rem 0rem 1.5rem;
  color: #%main%;
  font-size: 16px;
}

#cpu {
  /* top  right  bottom  left */
  margin: 0rem 0.5rem 0rem 1rem;
}
#memory {
  /* top  right  bottom  left */
  margin: 0rem 0.5rem 0rem 0.5rem;
}

#window {
  /* top  right  bottom  left */
  margin: 0rem 0.5rem 0rem 0.5rem;
}
/* -------------------- ***** -------------------- */

/* ------------------- calendar ------------------- */
tooltip {
     border-radius: 4px;
     background: rgba(%background_rgb_str%,%opacity%);
     color: #%foreground%; 
     border: 1px solid #%main%;
}
/* -------------------- ***** -------------------- */

#custom-keylock,
#tray,
#pulseaudio,
#custom-razer,
#custom-notification {
  /* top  right  bottom  left */
  margin: 0rem 0.5rem 0rem 0.5rem;  
}

#custom-keylock.locked {
  color: #%red%;
}
#custom-keylock.unlocked {
  color: transparent;
}


#pulseaudio.muted {
  color: #%red%;
}

#custom-razer.critical {
  color: #%red%;
}

#custom-power {
  /* top  right  bottom  left */
  margin: 0rem 1.5rem 0.2rem 0rem;
  color: #%main%;
}


#tray {
  color: #%red%;
}


