* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 600;
  color: #%foreground%;
}

window#waybar {
    background: rgba(%background_rgb_str%,%opacity%);
    transition-property: background;
    transition-duration: .5s;
    /*border-top: 1px solid #%main%;
    border-left: 1px solid #%main%;
    border-right: 1px solid #%main%;*/
    border-bottom: 1px solid #%main%;
    border-radius: 50px;
}

#workspaces
{
  margin: 2px 1px 3px 1px;
  padding: 0px 1px;
  border-radius: 6px;
}
#workspaces button
{
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 6px;
}

#custom-ws1,
#custom-ws2,
#custom-ws3,
#custom-ws4 {
  padding: 0.1rem 0.3rem;
  margin: 0.45rem 0.25rem;
  border-radius: 6px;
}

#custom-ws1.active,
#custom-ws2.active,
#custom-ws3.active,
#custom-ws4.active {
  background-color: #%main%;
}

#custom-ws1:hover,
#custom-ws2:hover,
#custom-ws3:hover,
#custom-ws4:hover {
  background-color: #707070;
}


#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#custom-keylock,
#custom-razer,
#custom-settings,
#cpu,
#memory,
#tray,
#window {
  padding: 0.3rem 0.3rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
}

#workspaces button {
  color: transparent;
}
#workspaces button:hover {
  background-color: #707070;
}
#workspaces button.active {
  background-color: #%main%;
}

window#waybar.empty #window {
  background-color: transparent;
}

#pulseaudio.muted {
  color: #%red%;
}

#custom-logo {
  color: #%main%;
}

#custom-power {
  color: #%main%;
}

#custom-keylock.locked {
  color: #%red%;
}
#custom-keylock.unlocked {
  color: transparent;
}

#custom-razer.critical {
  color: #%red%;
}


tooltip {
  background-color: #%background%;
  border: 2px solid #282421;
}
