* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

window#waybar {
    background: rgba(35,38,51,0.6);
    transition-property: background;
    transition-duration: .5s;
    /*border: 1px solid #6e81a0;
    border-left: 1px solid #6e81a0;
    border-right: 1px solid #6e81a0;*/
    border-bottom: 1px solid #6e81a0;
    border-radius: 50px;
}

#workspaces
{
  margin: 2px 1px 3px 1px;
  padding: 0px 1px;
  border-radius: 6px;
}
#workspaces button
{
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 6px;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#custom-keylock,
#custom-razer,
#custom-theme,
#cpu,
#memory,
#tray,
#window {
  padding: 0.3rem 0.3rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
}

#workspaces button {
  color: transparent;
}
#workspaces button:hover {
  background-color: #7cb8ba;
}
#workspaces button.active {
  background-color: #6e81a0;
}

window#waybar.empty #window {
  background-color: transparent;
}

#pulseaudio.muted {
  color: #282421;
}

#custom-logo {
  color: #7cb8ba;
}

#custom-power {
  color: #7cb8ba;
}

#custom-keylock.locked {
  color: #ba0e2e;
}

#custom-razer.critical {
  color: #ba0e2e;
}


tooltip {
  background-color: #282421;
  border: 2px solid #282421;
}
